<section class="home">
  <div class="container">
    <div class="text">
      <h1>Bonjour, je suis <span class="highlight">Evini Ngoua Alphonse Sorel</span></h1>
      <h2>Ingénieur en Génie Informatique | Développeur Full-Stack</h2>
      <p>Passionné par le développement web et mobile, j'aide à concevoir des solutions innovantes avec Angular, React, Spring Boot, et bien plus.</p>
      <div class="buttons">
        <a routerLink="/projects" class="btn">Voir mes projets</a>
        <a href="assets/images/cv.pdf" class="btn-outline" download>Télécharger mon CV</a>
      </div>
      <div class="socials">
        <a href="https://github.com/Alphonso0606" target="_blank" rel="noopener noreferrer">
          <img ngSrc="assets/images/img_1.png" width="32" height="32" alt="GitHub">
        </a>
        <a href="https://www.linkedin.com/in/alphonse-sorel-evini-ngoua-0a62582aa/" target="_blank" rel="noopener noreferrer">
          <img ngSrc="assets/images/img.png" width="32" height="32" alt="LinkedIn">
        </a>
      </div>
    </div>
    <div class="image">
      <img ngSrc="assets/images/profil.jpeg" width="400" height="400" priority alt="Photo de profil d'Evini Ngoua Alphonse Sorel">
    </div>
  </div>
</section>
